
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'myCustom';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;


}


body{
    background-color: rgb(0,0,0);
    font-family: 'myCustom',sans-serif;

    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
     */
}
body::selection{
    background-color: rgb(65, 63, 63);
    color: white;
}
#hero-para{
    line-height:1.6rem;
    letter-spacing: 0.05rem; 
    text-justify: distribute;

}